@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
:root {
 /*font-specifications*/
 --baseFontSize: 12pt;
 --fontFamily: "IBM Plex Sans", sans-serif;
}

html {
  font-family: var(--fontFamily);
  width: 100%;
  height: 100%;
  font-size: var(--baseFontSize);
  color: var(--bodyCopy);
}
   .chat {
      /* layout*/
      position: relative;
      width: 100%;
      /* max-width: 30em; */
      text-align: left;
      background-color: #dadada;
      width: 100%; 
      max-width: 200px;
      padding: 0.8em 0.5em 0.8em 1.1em;
      border-radius: 0.2rem;
      box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 10%);
    }
    
   .chat::before {
      /* layout*/
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 0.75rem solid transparent;
      border-top: none;
      border-bottom-color:#dadada;
      /* looks*/
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.05));
    }
    
   .chat.left-chat::before {
      transform: rotate(-90deg);
      left: -18px;
      top: 18px;
    }
    
   .chat.top-right-chat::before {
      right: 29px;
      top: -18px;
      transform: scaleY(1.75);
    }
    
   .chat.top-left-chat::before {
      left: 29px;
      top: -18px;
      transform: scaleY(1.75);
    }
    
   .chat.right-chat::before {
      transform: rotate(90deg);
      right: -18px;
      top: 19px;
    }
  
 